@charset "utf-8";

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes colorchange {
  0% {
    color: #38f;
  }
  25% {
    color: #38f;
  }
  50% {
    color: #38f;
  }
  75% {
    color: #38f;
  }
  80% {
    color: #121212;
  }
  90% {
    color: #121212;
  }
  to {
    color: #fec;
  }
}

@keyframes moving-bar {
  0% {
    width: "10%";
    background-color: #fec;
  }
  10% {
    width: "15%";
    background-color: #fec;
  }
  25% {
    width: "25%";
    background-color: #fec;
  }
  50% {
    width: "50%";
    background-color: #fec;
  }
  60% {
    width: "45%";
    background-color: #fec;
  }
  70% {
    width: "55%";
    background-color: #fec;
  }
}

@keyframes breathing {
  0% {
    border-width: "1px";
    border-style: "solid";
    border-color: "#f70";
  }
  50% {
    border-width: "2px";
    border-style: "solid";
    border-color: "#f70";
  }
}

@keyframes rotating {
  0% {
    border-width: "1px 0 1px 1px";
    border-style: "solid";
    border-color: "#f70";
  }
  25% {
    border-width: "0 1px 1px 1px";
    border-style: "solid";
    border-color: "#f70";
  }

  50% {
    border-width: "1px 1px 1px 0";
    border-style: "solid";
    border-color: "#f70";
  }
  75% {
    border-width: "1px 1px 0 1px";
    border-style: "solid";
    border-color: "#f70";
  }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 5px 20px;
  background: #121212;
  font: 400 22px/1.5 "Barlow Condensed", "Arial Narrow", "Avenir Next Condensed",
    sans-serif;
  color: #38f;
}
a {
  text-decoration: underline;
  color: #aaf;
}
.wrap {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}
.scroll-top {
  display: block;
}
.scroll-top a {
  display: none;
  width: 180px;
  height: 150px;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  border-top: 8px solid #121212;
  border-bottom: 8px solid #121212;
  padding: 20px 10px 20px 2px;
  background: #88f;
  font-size: 19px;
  font-weight: 700;
  color: #121212;
}
.left-frame-top,
.left-frame {
  width: 5%;
  min-width: 70px;
  text-align: right;
  font-size: 19px;
  font-weight: 700;
  color: #121212;
}
.left-frame-top {
  height: 150px;
  background: #38f;
  border-radius: 0 0 0 60px;
}
.left-frame-top a,
.left-frame a {
  text-decoration: none;
  color: #121212;
}
.left-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 160px;
  background: #38f;
  border-radius: 60px 0 0 0;
}
.panel-1 a {
  display: block;
  height: 30%;
  background: #88f;
  padding: 50px 10px 0 0;
  text-decoration: none;
  color: #121212;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-1 a:active,
.panel-1 a:focus {
  filter: brightness(70%);
  text-decoration: none;
  border-bottom: none;
  outline: 0;
}
.panel-2 {
  height: 5%;
  padding: 15px 10px 0 0;
}
.right-frame-top {
  flex: 1;
  background: #121212;
  height: 150px;
}
.banner {
  height: 75px;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 60px;
  font-weight: 350;
  color: #38f;
}
.data-cascade-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
  padding-top: 10px;
}
.row {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 22px;
  color: #121212;
}
.grid,
.grid-2,
.grid-1,
.grid-3,
.grid-4 {
  flex: 1;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
}
.button-col-1 {
  width: 204px;
  height: 130px;
}
.button-col-2 {
  width: 190px;
  height: 130px;
}
.button a {
  display: block;
  width: 190px;
  height: 58px;
  padding: 20px 25px 0 0;
  background: #ccc;
  border-bottom: none;
  border-radius: 26px;
  text-align: right;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #121212;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.small-button {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  padding: 9px 0px 0 0;
  border-bottom: none;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button#top-left a {
  background: #aaf;
  margin-bottom: 14px;
}
.button#bottom-left a {
  background: #88f;
}
.button#top-right a {
  background: #ccdeff;
  margin-bottom: 14px;
}
.button#bottom-right a {
  background: #38f;
}
.button#menu-1 a {
  background: #aaf;
  margin-right: 5px;
}
.button#menu-2 a {
  background: #88f;
  margin-right: 5px;
}
.button#menu-3 a {
  background: #ccdeff;
  margin-right: 5px;
}
.button#menu-4 a {
  background: #38f;
}
.button a:active,
.button a:focus {
  filter: brightness(70%);
  border: 0;
  outline: 0;
  animation: none;
}
.runner {
  display: flex;
  height: 10px;
}
.top-corner-bg {
  width: 160px;
  height: 10px;
  background: #38f;
}
.top-corner {
  width: 160px;
  height: 10px;
  background: #121212;
  border-radius: 0 0 0 30px;
}
.block-2 {
  width: 140px;
}
.block-3 {
  width: 140px;
}
.block-4 {
  padding-top: 40px;
}
.block-4b {
  padding-top: 0px;
}
.block-4-floatbar {
  width: 260px;
  margin-left: 5px;
  border-radius: 20px 20px 20px 20px;
  border-color: #121212;
  height: 10px;
  background: #38f;
}
.bar-panel {
  display: flex;
  height: 5px;
}
.selected-panel {
  animation: breathing 2s infinite;
  animation-delay: 0.1s;
}
.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-6,
.bar-7,
.bar-8,
.bar-9,
.bar-10 {
  height: 5px;
}
.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-6,
.bar-7,
.bar-8,
.bar-9,
.bar-10,
.bar-4-inside,
.bar-9-inside,
.block-4-floatbar {
  transition: width 1s;
}
.bar-1,
.bar-2,
.bar-3,
.bar-6,
.bar-7,
.bar-8 {
  border-right: 5px solid #121212;
}
.bar-1 {
  width: 10%;
  background: #38f;
}
.bar-2 {
  width: 10%;
  background: #88f;
}
.bar-3 {
  width: 10%;
  background: #aaf;
}
.bar-4 {
  flex: 1;
  background: #ccdeff;
  padding-top: 10px;
}
.bar-4-inside {
  width: 20%;
  height: 5px;
  background: #121212;
  border-radius: 0 5px 0 0;
}
.bar-6 {
  width: 11%;
  background: #38f;
}
.bar-7 {
  width: 10%px;
  background: #88f;
}
.bar-8 {
  width: 10%px;
  background: #aaf;
}
.bar-9 {
  flex: 1;
  background: #ccdeff;
}
.bar-9-inside {
  width: 20%;
  height: 8px;
  background: #121212;
  border-radius: 0 0 5px 0;
}
.bar-10 {
  width: 50px;
  background: #8bf;
}
#gap {
  margin-top: 5px;
}
.panel-1,
.panel-3,
.panel-4,
.panel-5,
.panel-6,
.panel-7,
.panel-8,
.panel-33 {
  border-bottom: 5px solid #121212;
}
.panel-3 {
  height: 100px;
  padding: 0 10px 15px 0;
}
.panel-33 {
  height: 20px;
  padding: 0 10px 5px 0;
}
.panel-4 {
  height: 120px;
  padding: 15px 10px 0 0;
  background: #88f;
  justify-content: space-around;
}
.panel-5 {
  height: 350px;
  padding: 15px 10px 0 0;
  background: #ccdeff;
}
.panel-6 {
  height: 250px;
  padding: 15px 10px 0 0;
  background: #aaf;
}
.panel-7 {
  height: 380px;
  padding: 20px 10px 0 0;
  background: #38f;
}
.panel-8 {
  padding: 50px 10px 50px 0;
  background: #aaf;
}
.panel-9 {
  height: 190px;
  padding: 20px 10px 0 0;
  background: #38f;
}
.panel-10 {
  height: 350px;
  border-top: 8px solid #121212;
  background: #ccdeff;
  padding: 10px 10px 0 0;
}
.right-frame {
  flex: 1;
  background: #121212;
}
.corner-bg {
  width: 160px;
  height: 50px;
  background: #38f;
}
.corner {
  width: 160px;
  height: 50px;
  background: #121212;
  border-radius: 30px 0 0 0;
}
.content {
  padding: 0 0 25px 50px;
  background: #121212;
}
.content img {
  max-width: 100%;
  height: auto;
}
.flexbox {
  display: flex;
  column-gap: 40px;
}
.col {
  flex: 1;
}
h1,
h2,
h3,
h4 {
  font-weight: 350;
  text-transform: uppercase;
  line-height: 1.2;
  color: #aaf;
}
h1 {
  font-size: 68px;
  margin: 0 0 30px 0;
  text-align: right;
}
h2,
h3,
h4 {
  margin: 30px 0;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
p.caption {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 19px;
}
p.indent {
  padding-left: 40px;
}
p.postmeta {
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
}
.logging h1 {
  font-size: 56px;
  margin-bottom: 0;
  text-align: left !important;
}
code {
  font-size: 19px;
  color: #ccdeff;
}
hr {
  margin: 30px 0;
  height: 6px;
  border: 0;
  background: #38f;
  border-radius: 3px;
}
hr.disc {
  margin: 30px auto;
  width: 20px;
  height: 20px;
  border: 0;
  background: #38f;
  border-radius: 10px;
}
blockquote {
  margin: 30px 40px;
  border-left: 4px solid #38f;
  padding-left: 20px;
}
.go-center {
  text-align: center !important;
}
.go-right {
  text-align: right !important;
}
.go-left {
  text-align: left !important;
}
.go-bold {
  font-weight: 700;
}
.go-big {
  font-size: 28px;
}
.uppercase {
  text-transform: uppercase;
}
.strike {
  text-decoration: line-through;
}
.now {
  white-space: nowrap;
}
.blink-slower {
  animation: blink 3s infinite;
  animation-delay: 2s;
}
.blink {
  animation: blink 2s infinite;
  animation-delay: 1s;
}
.blink-faster {
  animation: blink 1s infinite;
  animation-delay: 0.5s;
}
.blink-slower:hover,
.blink:hover,
.blink-faster:hover {
  animation: none;
}
.pics-right {
  float: right;
  margin: 10px 0 20px 20px;
}
.pic-round-right {
  float: right;
  margin: 10px 0 20px 20px;
  width: 400px;
  height: 400px;
  border-radius: 200px;
}
.pics-left {
  float: left;
  margin: 10px 20px 20px 0;
}
.pics {
  display: block;
  margin: 30px auto 0 auto;
}
.border {
  padding: 10px;
  border: 2px solid #38f;
}
.list-item {
  display: flex;
  margin: 15px 0 0 40px;
}
.list-item-left {
  width: 44px;
  padding-top: 12px;
}
.bullet {
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background: #38f;
}
.list-item-main {
  flex: 1;
  font-size: 28px;
}
.buttons {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.buttons a {
  display: block;
  margin: 0 10px 20px 10px;
  width: 180px;
  height: 58px;
  padding: 20px 25px 0 0;
  background: #ccdeff;
  border-radius: 26px;
  text-align: right;
  line-height: normal;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #121212;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buttons button {
  display: block;
  margin: 0 10px 20px 10px important!;
  width: 180px;
  height: 58px important!;
  padding: 20px 25px 0 0 important!;
  height: 70px;
  border-radius: 26px;
  border-style: none;
  text-align: center important!;
  text-decoration: none;
  text-transform: none;
  font-size: 21px important!;
  font-weight: 700 important!;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buttons a:active,
.buttons a:focus {
  filter: brightness(70%);
  outline: 0;
}
.buttons a.two-rows {
  font-size: 19px;
  padding-top: 3px;
}
.buttons a.long {
  padding: 20px 0 0 0 !important;
  text-align: center !important;
}
.one-button-center {
  margin: 0 auto;
  width: 200px;
}
.sidebar-buttons a {
  display: block;
  text-decoration: none;
  text-align: right;
  border-bottom: 8px solid #121212;
  padding: 20px 10px 20px 2px;
  background: #38f;
  text-transform: uppercase;
  color: #121212;
}
.sidebar-buttons a:active,
.sidebar-buttons a:focus {
  filter: brightness(80%);
  outline: 0;
}
.lcars-bar {
  margin: 40px auto;
  height: 20px;
  background: #121212;
  border-right: 18px solid #88f;
  border-left: 18px solid #88f;
  border-radius: 9px;
  padding: 0 5px;
}
.lcars-bar-inner {
  height: 20px;
  background: #38f;
}
.lcars-listing {
  margin: 40px auto;
  height: 40px;
  background: #121212;
  border-left: 25px solid #88f;
  border-radius: 20px;
  padding: 0 5px;
  text-decoration: none;
}
.lcars-listing-inner {
  height: 40px;
  width: 100%;
  background: #8bf;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 0 20px 20px 0;
  color: #121212;
  display: flex;
  justify-content: space-between;
}
.lcars-listing a {
  text-decoration: none;
  font-weight: bold;
  color: #121212 !important;
  display: flex;
  justify-content: space-between;
}

.lcars-card {
  border: 1px 1px 1px 1px;
  border-radius: 25px;
  background: #212121;
  border-color: #38f;
  border-style: double;
}
.lcars-form-control {
  border: 1px 1px 1px 1px;
  border-radius: 25px;
  background: #212121;
  border-color: #668;
  color: #38f;
  border-style: solid;
  padding-left: 30px;
  width: 120px;
  box-sizing: border-box;
  height: 60px;
}
.lcars-form-control lcars-is-valid {
  border-color: #9d6;
}
.lcars-form-control lcars-is-invalid {
  border-color: #d44;
}
.lcars-bar-slice-top {
  margin: 80px auto -30px auto;
  width: 180px;
  height: 8px;
  background: #38f;
}
.lcars-bar-cutout {
  margin: 0 auto;
  width: 180px;
  height: 10px;
  background: #121212;
}
.lcars-bar-slice-bottom {
  margin: -30px auto 0 auto;
  width: 180px;
  height: 3px;
  background: #38f;
}
.footer {
  margin: 0 auto;
  padding: 35px 20px 0 20px;
  font-size: 19px;
}
.footer p:first-child {
  margin-top: 0;
}
.space-white {
  background: #f5f6fa !important;
}
.go-space-white {
  color: #f5f6fa;
}
.violet-creme {
  background: #dbf !important;
}
.go-violet-creme {
  color: #dbf;
}
.magenta {
  background: #c49 !important;
}
.go-magenta {
  color: #c49;
}
.green {
  background: #3c9 !important;
}
.go-green {
  color: #3c9;
}
.blue {
  background: #45f !important;
}
.go-blue {
  color: #45f;
}
.yellow {
  background: #fc3 !important;
}
.go-yellow {
  color: #fc3;
}
.sunflower {
  background: #fc6 !important;
}
.go-sunflower {
  color: #fc6;
}
.violet {
  background: #94f !important;
}
.go-violet {
  color: #94f;
}
.orange {
  background: #f70 !important;
}
.go-orange {
  color: #f70;
}
.african-violet {
  background: #c8f !important;
}
.go-african-violet {
  color: #c8f;
}
.red {
  background: #d44 !important;
}
.go-red {
  color: #d44;
}
.almond {
  background: #ffaa90 !important;
}
.go-almond {
  color: #ffaa90;
}
.almond-creme {
  background: #fba !important;
}
.go-almond-creme {
  color: #fba;
}
.bluey {
  background: #78f !important;
}
.go-bluey {
  color: #78f;
}
.gray {
  background: #668 !important;
}
.go-gray {
  color: #668;
}
.sky {
  background: #aaf !important;
}
.go-sky {
  color: #aaf;
}
.ice {
  background: #8cf !important;
}
.go-ice {
  color: #8cf;
}
.gold {
  background: #fa0 !important;
}
.go-gold {
  color: #fa0;
}
.mars {
  background: #f20 !important;
}
.go-mars {
  color: #f20;
}
.peach {
  background: #f86 !important;
}
.go-peach {
  color: #f86;
}
.butterscotch {
  background: #f96 !important;
}
.go-butterscotch {
  color: #f96;
}
.tomato {
  background: #f55 !important;
}
.go-tomato {
  color: #f55;
}
.lilac {
  background: #c3f !important;
}
.go-lilac {
  color: #c3f;
}
.evening {
  background: #25f !important;
}
.go-evening {
  color: #25f;
}
.midnight {
  background: #11e !important;
}
.go-midnight {
  color: #11e;
}
.ghost {
  background: #8bf !important;
}
.go-ghost {
  color: #8bf;
}
.wheat {
  background: #ca8 !important;
}
.go-wheat {
  color: #ca8;
}
.roseblush {
  background: #c66 !important;
}
.go-roseblush {
  color: #c66;
}
.honey {
  background: #fc9 !important;
}
.go-honey {
  color: #fc9;
}
.cardinal {
  background: #c23 !important;
}
.go-cardinal {
  color: #c23;
}
.pumpkinshade {
  background: #f74 !important;
}
.go-pumpkinshade {
  color: #f74;
}
.tangerine {
  background: #f83 !important;
}
.go-tangerine {
  color: #f83;
}
.martian {
  background: #9d6 !important;
}
.go-martian {
  color: #9d6;
}
.cornblue {
  background: #38f;
}
.go-cornblue {
  color: #38f;
}
.moonbeam {
  background: #ccdeff !important;
}
.go-moonbeam {
  color: #ccdeff;
}
.cool {
  background: #58f !important;
}
.go-cool {
  color: #58f;
}
.galaxy {
  background: #444a77 !important;
}
.go-galaxy {
  color: #444a77;
}
.moonshine {
  background: #def;
}
.go-moonshine {
  color: #def;
}
.october-sunset {
  background: #f40 !important;
}
.go-october-sunset {
  color: #f40;
}
.harvestgold {
  background: #fa4 !important;
}
.go-harvestgold {
  color: #fa4;
}
.butter {
  background: #fec !important;
}
.go-butter {
  color: #fec;
}
.c43 {
  background: #58e !important;
}
.go-c43 {
  color: #58e;
}
.c44 {
  background: #8ff !important;
}
.go-c44 {
  color: #8ff;
}
.c45 {
  background: #344466 !important;
}
.go-c45 {
  color: #344466;
}
.c46 {
  background: #455577 !important;
}
.go-c46 {
  color: #455577;
}
.c47 {
  background: #79c !important;
}
.go-c47 {
  color: #79c;
}
.c48 {
  background: #6cf !important;
}
.go-c48 {
  color: #6cf;
}
.c49 {
  background: #9cf !important;
}
.go-c49 {
  color: #9cf;
}
.c50 {
  background: #ff3500 !important;
}
.go-c50 {
  color: #ff3500;
}
.c51 {
  background: #525 !important;
}
.go-c51 {
  color: #525;
}
.c52 {
  background: #636 !important;
}
.go-c52 {
  color: #636;
}
.c53 {
  background: #747 !important;
}
.go-c53 {
  color: #747;
}
.c54 {
  background: #858 !important;
}
.go-c54 {
  color: #858;
}
.c55 {
  background: #969 !important;
}
.go-c55 {
  color: #969;
}
.c56 {
  background: #f80 !important;
}
.go-c56 {
  color: #f80;
}
.c57 {
  background: #d0b0a0 !important;
}
.go-c57 {
  color: #d0b0a0;
}
.c58 {
  background: #bbf !important;
}
.go-c58 {
  color: #bbf;
}
.c59 {
  background: #9a6 !important;
}
.go-c59 {
  color: #9a6;
}
.c60 {
  background: #0b0 !important;
}
.go-c60 {
  color: #0b0;
}
.c61 {
  background: #3f3 !important;
}
.go-c61 {
  color: #3f3;
}
.c62 {
  background: #dfd !important;
}
.go-c62 {
  color: #dfd;
}
.c63 {
  background: #ffebde !important;
}
.go-c63 {
  color: #ffebde;
}
.c64 {
  background: #c9c !important;
}
.go-c64 {
  color: #c9c;
}
.c65 {
  background: #f6eef6 !important;
}
.go-c65 {
  color: #f6eef6;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 5px;
    font-size: 18px;
  }
  .left-frame-top,
  .left-frame {
    width: 60px;
    min-width: 60px;
    font-size: 15px;
  }
  .left-frame-top {
    height: 200px;
    border-radius: 0 0 0 26px;
  }
  .left-frame {
    border-radius: 26px 0 0 0;
  }
  .scroll-top a {
    width: 60px;
    border-top: 5px solid #121212;
  }
  .right-frame-top {
    height: 200px;
  }
  .panel-1 a {
    height: 100px;
    padding: 50px 0 0 0;
    text-align: center;
  }
  .hop {
    display: none;
  }
  .banner {
    height: 50px;
    font-size: 26px;
  }
  .data-cascade-button-group {
    align-content: inherit;
    flex-wrap: wrap;
    height: 115px;
  }

  .pic-round-right {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .button-col-1 {
    padding: 8px 5px 0 5px;
  }
  .button-col-2 {
    padding: 8px 5px 0 5px;
  }
  .button a {
    height: 44px;
    padding-top: 10px;
    max-width: 140px;
    border-radius: 20px;
    font-size: 19px;
  }
  .buttons button {
    height: 44px;
    padding-top: 10px;
    max-width: 100px;
    border-radius: 20px;
    font-size: 19px;
  }
  .sidebar-buttons a {
    text-align: center;
    padding: 10px 0;
    border-bottom-width: 5px;
    font-size: 12px;
  }
  .top-corner-bg {
    height: 25px;
  }
  .top-corner {
    height: 25px;
    border-radius: 0 0 0 20px;
  }
  .corner {
    border-radius: 20px 0 0 0;
  }
  .bar-panel {
    height: 10px;
  }
  .lcars-card {
    flex-wrap: wrap;
  }
  .bar-1,
  .bar-2,
  .bar-3,
  .bar-4,
  .bar-6,
  .bar-7,
  .bar-8,
  .bar-9,
  .bar-10 {
    height: 10px;
  }
  .bar-1,
  .bar-2,
  .bar-3,
  .bar-6,
  .bar-7,
  .bar-8 {
    border-right: 5px solid #121212;
  }
  .panel-1,
  .panel-3,
  .panel-4,
  .panel-6,
  .panel-7,
  .panel-8 {
    border-bottom: 5px solid #121212;
  }
  .panel-10 {
    border-top: 5px solid #121212;
  }
  .runner {
    height: 25px;
  }
  .bar-1,
  .bar-6 {
    width: 60px;
  }
  .bar-2,
  .bar-7 {
    width: 50px;
  }
  .bar-3,
  .bar-8 {
    width: 50px;
  }
  .bar-4 {
    padding-top: 5px;
  }
  .bar-4-inside {
    width: 60px;
    height: 5px;
  }
  .bar-9-inside {
    width: 60px;
    height: 5px;
  }
  .corner-bg,
  .corner,
  .top-corner-bg,
  .top-corner {
    width: 60px;
    height: 25px;
  }
  .block-2,
  .block-3 {
    width: 50px;
    height: 25px;
  }
  .block-4 {
    padding-top: 15px;
  }
  .block-4b {
    padding-top: 5px;
  }
  .block-4-floatbar {
    width: 60px;
    height: 4px;
    background: #38f;
  }
  #gap {
    margin-top: 5px;
  }
  .content {
    padding: 0 0 20px 15px;
  }
  h1,
  .logging h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  p.caption {
    font-size: 16px;
  }
  p.indent {
    padding-left: 20px;
  }
  p.postmeta {
    font-size: 21px;
  }
  blockquote {
    margin: 25px 0 25px 20px;
  }
  .go-big {
    font-size: 21px;
  }
  .list-item-main {
    font-size: 21px;
  }
  .list-item-left {
    padding-top: 7px;
  }
  .lcars-bar-cutout {
    margin: 0 auto;
    width: 80px;
    height: 8px;
  }
  .lcars-bar-slice-top {
    margin: 30px auto -30px auto;
    width: 80px;
    height: 6px;
  }
  .lcars-bar-slice-bottom {
    width: 80px;
  }
  .footer {
    padding: 20px 5px;
    font-size: 16px;
  }
  .lcars-listing {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 70px;
    background: #121212;
    border-left: 35px solid #88f;
    border-radius: 35px;
    padding: 0 5px;
    text-decoration: none;
  }
  .lcars-listing-inner {
    height: 70px;
    width: 100%;
    background: #8bf;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 0 35px 35px 0;
    color: #121212;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .lcars-listing a {
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    color: #121212 !important;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
}
